@model List<Order>
<div>
    @if (Model.Count != 0)
    {
        foreach (var order in Model) 
        {
            <div class="alert alert-warning mt-3">
                <p>Phone number: @order.PhoneNumber</p>
                <p>Address: @order.Address</p>
                <p>Price: @order.Price</p>
                <p>Products:</p>
                @foreach (var item in order.OrderItems)
                {
                    <div class="alert alert-info mt-3">
                        <p>Manufacturer: @item.Item.Manufacturer</p>
                        <p>Model name: @item.Item.ModelName</p>
                    </div>
                }
                
            </div>
        }
        
    }
    else
    {
    <p class="alert alert-info mt-3">Create order in Cart</p>
    }
    
</div>
